.container{
    
    padding: 1rem;

    display: flex;
    justify-content: center;

    flex-direction: column;
}

.container .alvo{
    border: 10px solid var(--cor3);
    border-radius: 50%;
    max-width: 600px;
}
body{
    background-color: var(--cor1);
}


form{
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem; 
}
form h2{
    font-family: 'Merriweather Sans', sans-serif !important;
    font-weight: bold;

    margin: 2rem;
    font-size: 2rem;
    color: var(--cor4);
}
form  input{
    background-color: unset;
    border: var(--cor2) solid 2px;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    margin-top:1rem;
    font-size: 1.5rem;
    color: var(--cor4);
    font-family: 'Roboto Flex', sans-serif;
}
textarea{
    font-family: 'Roboto Flex', sans-serif;
    background-color: unset;
    border: var(--cor2) solid 2px;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    margin-top:1rem;
    font-size: 1.5rem;
    color: var(--cor4);
}

form  button{
    margin: 2rem;

    border: none;
    width: 100%;
   
    background-color: var(--cor2);

    padding: 10px;
    font-size: 1.5rem;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    border: var(--cor2) solid 2px;
}
form  button:hover{
    transform: scale(1.1);
}

@media (min-width: 600px)
{
    body{
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center ;
    }
    .container{
        
        max-width: 1200px;
        padding: 0;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }
    

    .container .alvo{
        border: 10px solid var(--cor3);
        border-radius: 50%;
        
        order: 2;
        max-width: 45%;
    }
    form{
        width: 45%;
    }
}

